*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: aquamarine;
}
.names{
    background-color: white;
    height: 2rem;
}
.hide{
    display: none;
}
.container{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game{
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.sc{
    border: 2px solid black;
}
.sc{
    border: 2px solid black;
    width: 10px;
}

.block{
    height: 50px;
    width:50px;
    border-radius: 3px;
    font-size: 1rem;
    background-color: rgb(225, 214, 94);
}

#reset{
    border-radius: 4px;
    background-color: rgb(45, 42, 42);
    color: white;
    padding: 5px;
}
#submit{
    border-radius: 4px;
    background-color: rgb(45, 42, 42);
    color: white;
    padding: 5px;
}
.msg{
    margin-top: 50px;
}
.message{
    font-size: 2.5rem;
    color: red;
}
#next{
    border-radius: 3px;
    font-size: 1rem;
    background-color: rgb(45, 42, 42);
    color: white;
    padding: 5px;
}